In [11]:
#Dependencies
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

# WEB SCRAPING

In [12]:
#Setup splinter
executable_path = {'executable_path' : ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Driver [/Users/dmontufar/.wdm/drivers/chromedriver/mac64/89.0.4389.23/chromedriver] found in cache

## NASA Mars News

In [13]:
#URL of the NASA page to be scrapped
url = 'https://redplanetscience.com/'
browser.visit(url)

In [14]:
#Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
soup = bs(html, 'html.parser')

In [15]:
#Collect the latest News Title and Paragraph Text
news_title = soup.find('div', class_='content_title').text
news_p = soup.find('div', class_='article_teaser_body').text

In [16]:
news_title

"Mars InSight Lander to Push on Top of the 'Mole'"

In [17]:
news_p

'Engineers have a plan for pushing down on the heat probe, which has been stuck at the Martian surface for a year.'

## JPL Mars Space Images

In [18]:
#RUN SETUP SPLINTER FIRST
#URL of the Space Image page to be scrapped
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [19]:
#Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
soup = bs(html, 'html.parser')

In [20]:
#Collect Featured Mars Image
image_source = soup.find('img', class_='headerimage fade-in')
featured_image_url = url+image_source['src']
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

## Mars Facts

In [21]:
url = 'https://galaxyfacts-mars.com/'

In [22]:
#Use pandas to parse url
mars_table = pd.read_html(url)
mars_table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [23]:
#Select Mars facts table
mars_df = mars_table[1]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [24]:
#Assign Columns Name
mars_df.columns = ['Metric', 'Value']
mars_df

                 Metric                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [36]:
#Convert the data to a HTML table string.

mars_html = mars_df.to_html(index = False)
mars_html = mars_html.replace('\n','')
mars_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th>Metric</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <td>Moons:</td>      <td>2 ( Phobos &amp; Deimos )</td>    </tr>    <tr>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## Mars Hemispheres

In [16]:
#URL of the Space Image page to be scrapped
url = 'https://marshemispheres.com/'
browser.visit(url)

In [17]:
html = browser.html
soup = bs(html, 'html.parser')

In [18]:
#Obtain url for each hemisphere page

hrefs = []
item = soup.find_all('div', class_='item')

for content in item:
    a = content.find('a')
    href = a['href']
    hrefs.append(url + href)

In [19]:
#Loop trough each hemisphere page in order to obtain image url

hemisphere_image_urls = []

for link in hrefs:
    url = 'https://marshemispheres.com/'
    urls = link
    browser.visit(urls)
    html = browser.html
    soup = bs(html, 'html.parser')
    title = soup.find('h2', class_='title').text
    wide_image = soup.find('img', class_='wide-image')
    img = wide_image['src']
    img_url = url+img
    #Append Results
    data = {'title': title, 'img_url': img_url}
    hemisphere_image_urls.append(data)

In [20]:
#Print Mars Hemispheres Data
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]